<FluentCard AreaRestricted="false">
    <FluentLabel Typo="Typography.Header">UIColor</FluentLabel>
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentLabel>
            This component uses
        </FluentLabel>
        <a href="@hRefCodeCss" target="_blank">HtmlColorName</a>
        <FluentLabel>and</FluentLabel>
        <a href="@hRefCodeUI" target="_blank">UI Models</a>
    </FluentStack>
    <br />
    <UIColor Model="@OptionsUI?.Color"/>
</FluentCard>

@code {
	private readonly string hRefCodeCss = HRefCodeSource.Components.CodeUrl("Css");
	private readonly string hRefCodeUI = HRefCodeSource.Components.CodeUrl("UI");

	[CascadingParameter]
	public PkgInputOptionsUI? OptionsUI { get; set; }
}
