@using Markdig
@inject HttpClient Http

<FluentCard MinimalStyle="true" Style="height:90%">
    <div class="markdown-body" style="overflow-y:auto;height:100%;width:100%;padding:10px;">
        @((MarkupString)htmlContent)
    </div>
</FluentCard>

@code {
    private string htmlContent = "";
    private string projectUrl => $"https://github.com/marqdouj/{Repository}";

    [Parameter, EditorRequired] public string Repository { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(Repository))
        {
            var pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().Build();
            var url = $"https://raw.githubusercontent.com/marqdouj/{Repository}/master/README.md";
            var markdownContent = await Http.GetStringAsync(url);
            htmlContent = Markdown.ToHtml(markdownContent, pipeline);
        }
    }
}
