@page "/uidesign"

<PageTitle>UI Design</PageTitle>

@foreach (var item in Enum.GetValues<HRefRepository>())
{
    <FluentStack>
        <a href="@item.GitHubSrcItem()" , target="_blank">@item</a>
        <a href="@item.ReadMe()" , target="_blank">Read Me</a>
    </FluentStack>
    
    <br />
}

@code {

}
