<FluentCard>
    <FluentLabel Typo="Typography.Header">string.ToCrLf()</FluentLabel>
    <p>Converts all line endings in the specified string to carriage return and line feed (CRLF) format</p>

    <FluentStack>
        <FluentLabel>Original Value:</FluentLabel>
        <FluentLabel Style="background-color:#f1f1f1" Typo="Typography.Body">@value</FluentLabel>
    </FluentStack>

    <FluentStack>
        <FluentLabel>Output:</FluentLabel>
        <FluentLabel Style="background-color:#f1f1f1" Typo="Typography.Body">@output</FluentLabel>
    </FluentStack>
</FluentCard>

@code {
    private readonly string value = "This is a\\ntest.";
    private readonly string output = "This is a\\r\\ntest.";
}
