<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Marqdouj.DotNet.Demo.styles.css"]" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.8.1/github-markdown.min.css">
    <!-- Set the default theme -->
    <script src="_content/Microsoft.FluentUI.AspNetCore.Components/js/loading-theme.js" type="text/javascript"></script>
    <loading-theme storage-name="theme"></loading-theme>

    @* Azure Maps SDK *@
    <link rel="stylesheet" href="https://atlas.microsoft.com/sdk/javascript/mapcontrol/3/atlas.min.css" type="text/css">
    <script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/3/atlas.min.js"></script>

    <ImportMap />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="_framework/blazor.web.js"></script>

    @* Add the script for Marqdouj.DotNet.AzureMaps *@
    <script src="./_content/Marqdouj.DotNet.AzureMaps/marqdouj-azuremaps.js"></script>

    @* Add the script required for Anonymous authentication (if applicable) *@
    @* <script type="text/javascript">
        marqdoujAzureMaps.MapFactory.getAuthTokenCallback = (resolve, reject, map) => {
            DotNet.invokeMethodAsync('Sandbox', 'GetAccessToken')
            .then(function (response) {
                return response;
            }).then(function (token) {
                resolve(token);
            });
        };
    </script> *@
</body>

</html>
