@using Marqdouj.DotNet.General.Extensions
@inject IDialogService DialogService

<FluentCard>
    <FluentLabel Typo="Typography.Header">string.Truncate()</FluentLabel>
    <CodeText>@codeText</CodeText>
    <p>Returns a string containing a specified number of characters from the left side of a string, + suffix (if value was truncated)</p>

    <FluentStack>
        <div>
            <p>Value:</p>
            <FluentTextField @bind-Value=truncateValue></FluentTextField>
        </div>
        <div>
            <p>Length:</p>
            <FluentNumberField @bind-Value=length Style="width:5rem;"></FluentNumberField>
        </div>
        <div>
            <p>Suffix:</p>
            <FluentTextField @bind-Value=suffix Style="width:5rem;"></FluentTextField>
        </div>
    </FluentStack>

    <FluentButton Appearance="Appearance.Accent" OnClick="DoTruncate">Test</FluentButton>

    <FluentStack>
        <p>Truncated Value:</p>
        <FluentLabel Style="background-color:#f1f1f1" Typo="Typography.Body">@truncatedValue</FluentLabel>
    </FluentStack>
</FluentCard>

@code {
    private string? truncatedValue;
    private string suffix = Strings.ELLIPSIS;
    private string truncateValue = "This is the test string";
    private readonly string codeText = "var truncatedValue = value.Truncate(length, suffix);";
    private int length = 11;

    private void DoTruncate()
    {
        try
        {
            truncatedValue = truncateValue.Truncate(length, suffix);
        }
        catch (Exception ex)
        {
            DialogService.ShowError(ex.ToMessage());
        }
    }
}
