@page "/pkg-components-geolocation"
@using Marqdouj.DotNet.Web.Components.Geolocation
@rendermode InteractiveServer
@inject IGeolocationService GeolocationService
@inject IToastService ToastService

<PageTitle>Components - Geolocation</PageTitle>

<FluentLayout>
    <PkgPageHeader Header="@subject"
                   HRefCode="@hRefCode"
                   Subject="@subject">
        <FluentLabel>
            A service that uses the Geolocation API to get the current position.
        </FluentLabel>
    </PkgPageHeader>

    <FluentStack Orientation="Orientation.Vertical">
        <FluentCard>
            <FluentButton onclick="GetLocation">Get position</FluentButton>
            <br />
            <br />
            <div>
                @if (loading)
                {
                    <FluentProgressRing />
                }
            </div>
            <FluentLabel>Latitude: @position?.Position?.Coords?.Latitude</FluentLabel>
            <FluentLabel>Latitude: @position?.Position?.Coords?.Longitude</FluentLabel>
            <FluentLabel>@message</FluentLabel>
        </FluentCard>
    </FluentStack>
</FluentLayout>

@code {
    private readonly string hRefCode = HRefCodeSource.Components.CodeUrl("Services/GeolocationService.cs");
    private readonly string subject = "Geolocation Service";
    private GeolocationResult? position;
    private bool loading;
    private string? message;

    private async Task GetLocation()
    {
        try
        {
            loading = true;
            message = "";
            position = await GeolocationService.GetCurrentPosition();

            message = position.IsSuccess ? "Success!" : position?.Error?.Message;
        }
        catch (Exception ex)
        {
            message = ex.Message;
            ToastService.Error(ex);
        }
        finally
        {
            loading = false;
            StateHasChanged();
        }
    }
}
