@using Markdig
@inject HttpClient Http
@inject IDemoConfiguration DemoConfiguration

<FluentCard MinimalStyle="true" Style="@height">
    <div class="markdown-body" style="overflow-y:auto;height:100%;width:100%;padding:10px;">
        @((MarkupString)htmlContent)
    </div>
</FluentCard>

@code {
    private string htmlContent = "";
    private string height => string.IsNullOrWhiteSpace(Height) ? "height:90%" : $"height:{Height}";

    [Parameter]
    public string? Height { get; set; }

    [Parameter, EditorRequired]
    public HRefRepository? Repository { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Repository.HasValue)
        {
            var pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().Build();
            var url = Repository.ReadMe();
            try
            {
                var markdownContent = await Http.GetStringAsync(url);
                htmlContent = Markdown.ToHtml(markdownContent, pipeline);
            }
            catch (Exception ex)
            {
                if (DemoConfiguration.InDevelopment)
                {
                    htmlContent = ex.ToMessage();
                }
                else
                {
                    throw;
                }
            }
        }
    }
}
